@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

@media screen and (min-width: 1201px){
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px){
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px){
    html {
        font-size: 10px;
    }
}

body {
    font-family: "Raleway", Arial, sans-serif;
}

.header {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./images/pic.jpg) no-repeat center center fixed;
    width: 100%;
    height: calc(100vh - 7rem);
    background-size: cover;
}

@media screen and (min-width: 601px){
    .main .content {
        width: 50%;
        height: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.85);
        color: black;
        text-align: center;
        overflow: scroll;
    }
}

@media screen and (max-width: 600px){
    .main .content {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.85);
        color: black;
        text-align: center;
        overflow: scroll;
    }
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.tabs button {
    height: 4rem;
    width: 25%;
    background-color: white;
    font-size: 1rem;
    border: none;
    color: black;
    font-family: "Raleway", Arial, sans-serif;
}

.tabs button:hover {
    border-bottom: 1px black solid;
}

.firstText {
    margin: 4rem 6rem 2rem 6rem;
    font-size: 2.4rem;
}

.mainText {
    font-size: 1.2rem;
    margin: 0 8rem;
}

.dish{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem; 
}

.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.8rem;
    font-weight: 800;
}

.discription{
    font-size: 1rem;
    white-space: pre-line;
}

.image {
    height: 20rem;
    width: auto;
}

.footer{
    height: 1rem;
    text-align: center;
}